<form method='POST'>
  <div style="text-align: center;"
    <label>Login</label><br>
    <input required name='username'/><br>
    <label>Password</label><br>
    <input required name='password'/><br><br>
    <button type="submit" >submit</button>
  </div>
</form>