<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="post-h1">New Post</h1>
     <form method="POST">
        <div class="post-container">
            <label>Image</label>
            <input type="file" name="img">
            <label>Title</label>
            <input required name="title" class="post-title"/>
            <label>Markdown</label>
            <textarea  wrap="soft" required name="markdown"  class="post-markdown"  ></textarea>
            <button class="post-save" type="submit">Save</button>
            <button class="post-cansel"><a class="post-cansel" href="/">Cansel</a></button>     
        </div>       
     </form>
</body>
<html>