<!DOCTYPE html>
<html>
<head>
    <title>Editing</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="post-h1">Editing</h1>
     <form action="/edit" method="POST">
        <div class="post-container">
            <input required class="hidden-id" type="hidden" name="id" value="{{post.id}}" />
            <label>Title</label>
            <input name="title" class="post-title" value="{{post.title}}" />
            <label>Markdown</label>
            <textarea  wrap="soft" required name="markdown"  class="post-markdown">{{post.markdown}}</textarea>
            <button class="post-save" type="submit">Save</button>
            <button class="post-cansel"><a class="post-cansel" href="/">Cansel</a></button> 
        </div>
     </form>
</body>
<html>